# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
-env/
.venv/
env/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# mypy
.mypy_cache/

# Pytest
.cache

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
